#form {
  width: 400px;
  background-color: #F8F4F4;
  margin: 35px 0 35px 0;
  position: absolute;
  right: 50px;
}

form {
  margin: 15px;
}

.display {
  width: 80%;
  margin-bottom: 10px;
  display: block;
  padding: 10px 16px;
  border-radius: 10px;
  outline: none;
  border: 0.5px solid #ccd1d1;
}

.sing {
  background-color:#3D2875;
  border: none;
  padding: 8px 15px 8px 12px;
  color: #ffffff;
  font-size: 1rem;
}

button {
  margin-left: 62%;
  margin-top: 25px;
}
